body {
  text-align: center;
  user-select: none;
  font-size: 16px;
  color: white;
  background-color:darkgrey;
  font-family: 'Orbitron', sans-serif;
}

canvas {
  display: block;
  border: 3px #333 solid;
  margin: 0 auto;
  margin-top: 15px;
  background-image: url("../assets/bkg2.jpg");
  cursor: crosshair;
  position:relative;
  -webkit-box-shadow: 2px 11px 31px 5px rgba(41,41,41,1);
 -moz-box-shadow: 2px 11px 31px 5px rgba(41,41,41,1);
  box-shadow: 2px 11px 31px 5px rgba(41,41,41,1);

/*  position: relative;*/
}

img {
  display: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}
.reset-screen {
  position: absolute;
  margin-top:60px;
  left: 350px;
  top: 9px;
  width: 600px;
  height: 400px;
  background: rgba(0, 0, 0, .7);
  border: solid 1px white;
  z-index: 2;
  display: none; opacity: 0;

}
.reset-screen img
{
  height: 100px;
  width:100px;
}

.show-reset-screen {
  display: block; opacity: 1;
}
.totalScore
{
  margin-top:20px;
}
.reset
{
  padding:10px;
  background-color: black;
  color:white;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Orbitron', sans-serif;
}
.sargent
{
  height:100px;
  display: block;
  margin-left:250px;
  margin-top:50px;

}




/*timer area starts*/
.infoArea
{

float:right;
margin-right: 100px;
}

#countdown {
	font-size: 30px;
	position: relative;
	left: 5px;
  top:15px;
	color:white;
}

.countdownbox {
		background:url("../assets/timerButton.svg")no-repeat;
		background-size: contain;
     background-position: center;
		height:70px;
		width:130px;
    /* position:absolute; */
    float: right;
    display: block;
    margin-top:100px;

}
 .scoreArea
 {
   border: 1px solid white;
   margin-top: 50px;
   padding:5px;
   -webkit-box-shadow: 0px 0px 24px 0px rgba(89,88,89,0.65);
  -moz-box-shadow: 0px 0px 24px 0px rgba(89,88,89,0.65);
   box-shadow: 0px 0px 24px 0px rgba(89,88,89,0.65);

 }
 .scoreProgress
 {
   font-size:50px;
 }
 .scoreText
 {
  display:block;
 }
#timeUp {
	font-size:30px;
	color:red;
	margin-left:130px;
	margin-top:30px;
	text-transform: uppercase;
}
/*timer area ends*/
