.blue{
  background-color: blue !important;
}

canvas{
  display: block;
  border: 3px #333 solid;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../assets/bkg2.jpg");
  cursor: crosshair;
}

img{
  display: none;
}
/*timer area starts*/
#countdown
{
	font-size: 30px;
	position: relative;
	left: 30px;
  top:15px;
	color:white;
	font-family: 'Orbitron', sans-serif;
}

#countdownbox
{
		background:url("../assets/timerButton.svg")no-repeat;
		background-size: contain;
		height:70px;
		width:130px;
    position:absolute;
}
#timeUp
{
	font-size:30px;
	color:red;
	margin-left:130px;
	margin-top:30px;
	font-family: 'Orbitron', sans-serif;
	text-transform: uppercase;
}
/*timer area ends*/
