body {
  text-align: center;
  user-select: none;
  font-size: 16px;
  color: white;
  background-color: black;
}

canvas {
  display: block;
  border: 3px #333 solid;
  margin: 0 auto 20px;
  background-image: url("../assets/bkg2.jpg");
  cursor: crosshair;
  position: relative;
}

img {
  display: none;
}

.reset-screen {
  position: absolute;
  left: 650px;
  top: 9px;
  width: 600px;
  height: 600px;
  background-color: black;
  z-index: 2;
  display: none; opacity: 0;
}

.show-reset-screen {
  display: block; opacity: 1;
}


/*timer area starts*/
#countdown {
	font-size: 30px;
	position: relative;
	left: 30px;
  top:15px;
	color:white;
	font-family: 'Orbitron', sans-serif;
}

.countdownbox {
		background:url("../assets/timerButton.svg")no-repeat;
		background-size: contain;
		height:70px;
		width:130px;
    position:absolute;
}
#timeUp {
	font-size:30px;
	color:red;
	margin-left:130px;
	margin-top:30px;
	font-family: 'Orbitron', sans-serif;
	text-transform: uppercase;
}
/*timer area ends*/
